body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:4542px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:1036px;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:84px;
  width:668px;
  height:1036px;
  display:flex;
}
#u7085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:764px;
}
#u7086 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:76px;
  width:620px;
  height:764px;
  display:flex;
}
#u7086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:956px;
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:2114px;
  top:84px;
  width:375px;
  height:956px;
  display:flex;
}
#u7087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:502px;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:2933px;
  top:1046px;
  width:1053px;
  height:502px;
  display:flex;
}
#u7088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:956px;
}
#u7089 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:765px;
  width:440px;
  height:956px;
  display:flex;
}
#u7089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:956px;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1354px;
  width:375px;
  height:956px;
  display:flex;
}
#u7090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:639px;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1847px;
  width:343px;
  height:639px;
  display:flex;
}
#u7091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:622px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:1847px;
  width:307px;
  height:622px;
  display:flex;
}
#u7092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:478px;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:1924px;
  width:220px;
  height:478px;
  display:flex;
}
#u7093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:956px;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:2114px;
  top:1894px;
  width:375px;
  height:956px;
  display:flex;
}
#u7094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:956px;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:3863px;
  width:440px;
  height:956px;
  display:flex;
}
#u7095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:956px;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:3863px;
  width:440px;
  height:956px;
  display:flex;
}
#u7096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:956px;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:3863px;
  width:440px;
  height:956px;
  display:flex;
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:956px;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:2003px;
  top:3863px;
  width:440px;
  height:956px;
  display:flex;
}
#u7098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:779px;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:5079px;
  width:350px;
  height:779px;
  display:flex;
}
#u7099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:705px;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:5097px;
  width:412px;
  height:705px;
  display:flex;
}
#u7100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1434px;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:5097px;
  width:660px;
  height:1434px;
  display:flex;
}
#u7101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:423px;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:2534px;
  width:388px;
  height:423px;
  display:flex;
}
#u7102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background:inherit;
  background-color:rgba(1, 28, 191, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:2557px;
  width:66px;
  height:35px;
  display:flex;
}
#u7103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:2687px;
  top:51px;
  width:390px;
  height:844px;
  display:flex;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:3128px;
  top:51px;
  width:390px;
  height:844px;
  display:flex;
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:779px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:3573px;
  top:0px;
  width:360px;
  height:779px;
  display:flex;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:639px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:2933px;
  top:1671px;
  width:343px;
  height:639px;
  display:flex;
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:622px;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:3356px;
  top:1671px;
  width:307px;
  height:622px;
  display:flex;
}
#u7108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:610px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:3751px;
  top:1671px;
  width:323px;
  height:610px;
  display:flex;
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:1238px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:3088px;
  top:2534px;
  width:744px;
  height:1238px;
  display:flex;
}
#u7110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:812px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:3858px;
  top:2534px;
  width:720px;
  height:812px;
  display:flex;
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:106px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:3088px;
  top:3772px;
  width:744px;
  height:106px;
  display:flex;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:223px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:3858px;
  top:3346px;
  width:720px;
  height:223px;
  display:flex;
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:203px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:3858px;
  top:3569px;
  width:720px;
  height:203px;
  display:flex;
}
#u7114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:106px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:3858px;
  top:3772px;
  width:744px;
  height:106px;
  display:flex;
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
